<!DOCTYPE HTML>
<html>
<head>
<title>Create a post</title>
</head>
<body>
<form method="POST">
    <label>Post Title</label>
    <input name="posttitle">
    <br>
    <label>Link (if link blog type)</label>
    <input name="postlink">
    <br>
    <label>Post Text (markdown enabled. OMG!)</label>
    <br>
    <textarea name="postbody" style="height:400px; min-width:200px; width:700px;">
    </textarea>
    <br>
    <label>Post URL</label>
    <input name="posturl">
    <br>
    <input type="submit" value="Save Post">
</form>
</body>
</html>
