{% extends "common/base.html" %}
{% import "common/navbar.html" as nav %}
{% block title%}View All Posts{% endblock %}
{% block body %}
{{ nav.navbar(request.url_rule.endpoint) }}
<div class="row">
    <div class="col-lg-12">
        <div class="tabl-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <td>Post Title</td>
                    <td>Post URL</td>
                    <td>Post date</td>
                    <td>Post Link(if any)</td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr>
                    <td>{{post.postTitle}}</td>
                    <td>{{post.postUrl}}</td>
                    <td>{{post.postDate}}</td>
                    <td>{{post.postLink}}</td>
                    <td><form method="POST" action="{{url_for('editpost')}}"><button class="btn btn-default"><input type="hidden" name="posturl" value={{post.postUrl}}><span class="glyphicon glyphicon-pencil" style="margin-right:5px;"> </span> Edit Post</button></form></td>
                    <td><form method="POST" action="{{url_for('deletePost')}}"><button class="btn btn-default"><input type="hidden" name="deleteposturl" value="{{post.postUrl}}"><span class="glyphicon glyphicon-remove" style="margin-right:5px;"> </span> Delete Post</button></form></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>
{% endblock %}
