{% extends "common.html" %}
{% block stylesheetLink %}static/stylesheets/style.css{% endblock %}
{% block body %}
<article>
    {% for post in posts %}
    <div class="post">
        <h1>
            {% if post.isLinkBlog %}
            <a href="{{ post.postLink }}" target="_blank">
                {{ post.postTitle }} &#8594;
            {% else %}
            <a href="posts/{{ post.postUrl }}.html">
                {{ post.postTitle }}
            {% endif %}
            </a>
        </h1>
        {{ post.renderedPostBody }}
        {% if post.isLinkBlog %}
        <p><em>Click on the title to visit the page</em></p>
        {% endif %}
        <p class="post-time">
        Posted on
        <a href="posts/{{ post.postUrl }}.html">
            {{ post.formattedPostDate }} -
        </a>
        <a href="posts/{{ post.postUrl }}.html#disqus_thread">
        </a>
        </p>
    </div>
    {% endfor %}
</article>
<script type="text/javascript">
var disqus_shortname = '{{ disqusShortname }}';
(function () {
var s = document.createElement('script'); s.async = true;
s.type = 'text/javascript';
s.src = '//' + disqus_shortname + '.disqus.com/count.js';
(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
{% endblock %}
