{% extends "common.html" %}
{% block stylesheetLink %}../static/stylesheets/style.css{% endblock %}
{% block body %}
<article>
    <div class="container">
        <div class="post">
            <h1>
                {% if post.isLinkBlog %}
                <a href="{{ post.postLink }}" target="_blank">
                    {{ post.postTitle }} &#8594;
                </a>
                {% else %}
                {{ post.postTitle }}
                {% endif %}
            </h1>
            {{ renderedPostBody }}
            {% if post.isLinkBlog %}
            <p><em>Click on the title to visit the page</em></p>
            {% endif %}
            <p class="post-time">Posted on {{ post.formattedPostDate }} by <a href="{{ authorLink }}">Adnan Issadeen</a></p>
            <div id="disqus_thread" style="margin-top:30px;"></div>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        </div>
    </div>
</article>
<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = '{{ disqusShortName }}'; // required: replace example with your forum shortname
/* * * DON'T EDIT BELOW THIS LINE * * */
(function() {
 var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
 dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
 (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
 })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endblock %}
